projets2appli/.vs/projets2appli/v16/ipch/AutoPCH/2f37d0129ad69587/LEURRES.ipch
projets2appli/.vs/projets2appli/v16/ipch/AutoPCH/f00bf1308f567e80/APPLIS2.ipch
projets2appli/.vs
projets2appli/.vs/
TestQT/projets2appli/.vs
TestQT/projets2appli/.vs/